{% extends 'base.html.twig' %}

{% block title %}Weather{% endblock %}

{% block body %}
    <h1>Weather</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ weather.id }}</td>
            </tr>
            <tr>
                <th>Cityname</th>
                <td>{{ weather.cityname }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ weather.type }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ weather.temperature }}</td>
            </tr>
            <tr>
                <th>Wind</th>
                <td>{{ weather.wind }}</td>
            </tr>
            <tr>
                <th>Humidity</th>
                <td>{{ weather.humidity }}</td>
            </tr>
            <tr>
                <th>Precipitation</th>
                <td>{{ weather.precipitation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_weather_controller2_index') }}">back to list</a>
    {% if is_granted('ROLE_WEATHER_EDIT') %}
        <a href="{{ path('app_weather_controller2_edit', {'id': weather.id}) }}">edit</a>
    {% endif %}
    {% if is_granted('ROLE_WEATHER_DELETE') %}
        {{ include('weather_controller2/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
